@import "themes/mocha.css";

* {
  font-family: "JetBrainsMono  NF";
  font-weight: bold;
  font-size: 12px;
}

window#waybar {
  background: transparent;
  color: @yellow;
}

#clock,
#workspaces,
#memory {
  background-color: @base;
  border-radius: 6px;
  font-size: 11.5px;
  padding: 0 4px;
  margin: 0 4px;
}

#workspaces button {
  margin: -0.65em;
  color: @yellow;
}

#workspaces button.empty {
  color: @yellow;
}

#workspaces button.visible {
  color: @maroon;
}

#window {
  background-color: @base;
  border-radius: 6px;
  padding: 0 4px;
  margin: 0 4px;
}

#workspaces button.urgent {
  animation: urgent-workspace 1s infinite
}

window#waybar.empty #window {
  background: transparent;
  color: transparent;
  box-shadow: none;
  border: none
}

.module,
#privacy {
  background: @base;
  border: 1px solid @subtext0;
  border-radius: 6px;
  box-shadow: 2px 2px 2px @crust;
  padding: 0px 6px;
  /* top/bottom | right/left */
  margin: 0 4px;
}
